*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
.main{
    height: 100%;
    width: 100%;
    
    /* background: #000; */
}
.nav{
    height: 8%;
    /* background: #eee; */
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;

}
.nav .logo h3{
    color: black;
    font-family:sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.nav .right {
    display: flex;
    gap: 30px;
}
.nav .right a{
    color: black;
    font-family:sans-serif;
    font-weight: 500;
    text-decoration-line: none;
    
}
.hero{
    height: 100%;
    /* background: salmon; */
    display: flex;
}
.hero .left{
    height: 45%;
    width: 40%;
    margin-top: 200px;
    /* background-color: aqua; */
}
.hero .left h1{
    font-family:sans-serif;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 20px;
}
.hero .left span{
    font-family:sans-serif;
    font-size: 80px;
    font-weight:600;
    line-height: 80px;
}
.hero .left p{
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
    margin-top: 20px;
}
.hero .left .btn{
    font-family:sans-serif;
    border-radius: 50px;
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px 20px;
    margin: 20px 5px;
    transition: 1s ease;
    cursor: pointer;
}
.hero .left .btn:hover{
    color: black;
    background-color: white;
}
.hero .right{
    height: 55%;
    width: 80%;
    margin-top: 200px;
    padding-left: 50px;
    /* background-color: aqua; */

}
.right img{
    position: absolute;
    top: 25%;
    left: 37%;
    height: 420px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
    animation: dron 5s infinite;
}
@keyframes dron {
    0%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-20px);
    }
    75% {
      transform: translateY(20px);
    }
  }

.about{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display:flex;
    align-items: center;
    padding: 20px;
}
.about .aboutleft{
    height: 45%;
    width: 40%;
    /* background-color: aqua; */
    margin-left: 60px;
}
.about .aboutleft h1{
    font-family:sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 200;
}
.about .aboutleft p{
    font-family:sans-serif;
    color: black;
    font-size: 19px;
    font-weight: 200;
    margin-top: 30px
}
.about .aboutleft .btn{
    font-family:sans-serif;
    border-radius: 50px;
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    transition: 1s ease;
    cursor: pointer;
}
.about .aboutleft .btn:hover{
    color: black;
    background-color: white;
}
.about .aboutright{
    height: 60%;
    width: 40%;
    /* background-color: aqua; */
    margin-left: 60px;
}
.about .aboutright img{
    height: 450px;
    margin-left: 60px;
    margin-top: 20px;
}
.Service{
    width: 100%;
    height: 100%;
    /* background-color: salmon; */
}
.Service .top{
    padding-top: 60px;
}
.Service .top h1{
    color: black;
    text-align: center;
    font-size: 40px;
    font-family:sans-serif;
    font-weight: 500;
}
.Service .bottem{
    height: 90%;
    /* background-color:rgba(255, 127, 80, 0.801); */
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 40px;
}
.Service .bottem .box-1{
    width: 30%;
    text-align: center;
    padding: 10px;
    /* background-color: aqua; */
    overflow: hidden;
    border: 1px solid black;
    border: none;
    text-align: justify;
   
}
.Service .bottem .box-1 img{
    height: 250px;
    object-position: center;
}
.Service .bottem .box-1 h3{
    font-family:sans-serif;
    font-size: 30px;
    font-weight: 200;
}
.Service .bottem .box-1 p{
    font-family:sans-serif;
    font-size: 14px;
    font-weight: 200;  
}
.Contect{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.Contect .contect-img{
    width: 40%;
    /* background-color: aqua; */
    height: 50%;
    margin-left: 100px;
   
}
.Contect .contect-img img{
    height: 350px;
}
.Contect .contrct_mes{
    width: 60%;
    /* background-color: aqua; */
    height: 50%;
}
.Contect .contrct_mes h1{
    color: black;
    font-family:sans-serif;
    font-size: 30px;
    font-weight: 100; 
    text-align: center;
}
.Contect .contrct_mes form{
    text-align: center;
    padding-top: 30px;
    font-family:sans-serif;
}
.Contect .contrct_mes .box{
    margin: 9px 1px;
    width: 70%;
    border:1px solid black;
    padding:10px 5px;
    font-size: 20px;
    border-radius: 5px;
    font-family:sans-serif;
}
.Contect .contrct_mes form textarea{
    height: 100px;
    resize: none;
}
.Contect .contrct_mes form .btn{
    font-family:sans-serif;
    border-radius: 50px;
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px 20px;
    margin-left: 200px;
    transition: 1s ease;
    cursor: pointer;
}
.Contect .contrct_mes form .btn:hover{
    color: black;
    background-color: white;
}